<!-- This is where out html will go-->
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>US Severe Storms: 2016 - 2022</title>

      <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

      <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>US Severe Storm: 2016-2022 Dashboard</h1>
            </div>
        </div>
    </div>

    <!-- The div that holds the map-->    
    <div id="map"></div>

    <form id="form-input">
        Latitude (S-N):  <input type="number" min="25" max="50" value="25" id="latS"><input type="number" min="25" max="50" value="50" id="latN">
        Longitude (W-E): <input type="number" min="-125" max="-65" value="-125" id="lonW"><input type="number" min="-125" max="-65" value="-65" id="lonE">
        Date (start-end): <input type="text" value="2016-01" id="startDate"><input type="text" value="2023-01" id="endDate">
    </form>
    <button id="button">Enter</button>

    <div class="col-md-12">
        <div id="histogram"></div>
    </div>

    <!-- Plotly Library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div clas="panel panel-heading">
                        <h3 class="panel-title">Storm Duration (Minutes)</h3>
                    </div>
                    <div id="summary-stats1" class="panel-body" style="word-wrap: normal">
                    </div>
                </div>
            </div>   
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div clas="panel panel-heading">
                        <h3 class="panel-title">Count by Airport</h3>
                    </div>
                    <div id="summary-stats2" class="panel-body" style="word-wrap: normal">
                    </div>
                </div>
            </div>          
        </div>
    </div>
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script type="text/javascript" src="../static/js/logic.js"></script>
</body>

</html>